<html>
    <head>
        <title>Status</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <body id="home">
        <div class="body">
            <div id="button">
                <button class="btn btn-dark" routerLink="/logout">Logout</button>
            </div>
            <div class="row justify-content-center">
                <div class="col-auto">
                    <table class="table table-bordered Table">
                        <thead>
                            <th scope="col">AuditID</th>
                            <th scope="col">Project Execution Status</th>
                            <th scope="col">Remedial Action Duration</th>
                        </thead>
                        <tbody>
                            <tr [style.background]="projectStatus==true? 'green': 'red'">
                                <td>1</td>
                                <td>{{this.auditResponse.projectExecutionStatus}}</td>
                                <td>{{this.auditResponse.remedialActionDuration}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>