<!doctype html>
<html lang="en">
  <head>
  	<title>Audit Management Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

	</head>
	<body id="home" class="img js-fullheight">
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section" class="text-success">Audit Management Login</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
		      	<h3 class="mb-4 text-center" class="text-info">Enter UserID and Password</h3>
		      	<div  action="#" class="signin-form form-audit">
		      		<div class="form-group">
		      			<input type="text" class="form-control" [(ngModel)]="username" name="uname" required>
		      		</div>
	            <div class="form-group">
	              <input id="password-field" type="password" class="form-control" [(ngModel)]="password"  name="password" required>
	              <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
	            </div>
	            <div class="form-group">
	            	<button type="submit" class="form-control btn btn-primary submit px-3"  (click)="handleJWTAuthentication()">Sign In</button>
					<button type="submit" class="form-control btn btn-danger submit px-3"  routerLink="/register">register</button>
	            </div>
	          </div>
		      </div>
				</div>
			</div>
		</div>
		<h2 class="text-center" id="isValid" style="color:red" *ngIf="invalidCredentials">Please Enter Valid Credentials</h2>
	</section>
	</body>
</html>

