#home{
    height: 650 px;  
        color: #fff;
        background-image: url("../../assets/home.jpg");  
        background-size: 100vh ;  
        background-size: 100% 100%; 
        height: 100vh; 
    }

    #button {
        position: absolute;
        top: 10px;
        right: 10px;
    }    
